@import url('https://fonts.googleapis.com/css2family=Nunito&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --grow-shrink-time: 3.2s;
}

body{
    background: #413F42 url(./assets/images/peter-f-fibrknjbpUo-unsplash.jpg) no-repeat center center/cover;
    min-height: 100vh;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 2.5rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19rem;
    width: 19rem;
    margin: auto;
    position: relative;
}

#instructions{
    font-size: 1.5rem;
}

.circle{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #16003B;
    position: absolute;
    z-index: -1;
}

.outer-circle{
    background-image: conic-gradient(#3977a0 0deg, #205375 144deg, #d7e6f0 144deg, #afcde0 216deg, #316080 216deg, #224a64 360deg);
    height: 20rem;
    width: 20rem;
    top: -0.5rem;
    left: -0.5rem;
    border-radius: 50%;
    position: absolute;
    z-index: -2;
}

.pointer-container{
    height: 24rem;
    position: absolute;
    border-radius: 50%;
    background: #413F42;
    /* animation: rotate 8s infinite linear; */
}

.pointer{
    height: 1.25rem;
    width: 1.25rem;
    left: -0.625rem;
    border-radius: 50%;
    background: #afcde0;
    position: absolute;
    z-index: 1;
}

.grow{
    animation: grow var(--grow-shrink-time);
}
.shrink{
    animation: shrink var(--grow-shrink-time);
}

@keyframes grow {
    from{transform: scale(0.9);}
    to{transform: scale(1);}
}

@keyframes shrink {
    from{transform: scale(1);}
    to{transform: scale(0.9);}
}

@keyframes rotate {
    from{transform: rotate(0deg);}

    to{transform: rotate(360deg);}
}

@media only screen and (min-width: 1400px) {
    html{
        font-size: 20px;
    }
}
@media only screen and (max-width: 768px) {
    html{
        font-size: 15px;
    }
}
@media only screen and (max-width: 576px) {
    html{
        font-size: 14px;
    }
}
@media only screen and (max-width: 348px) {
    html{
        font-size: 13px;
    }
}
@media only screen and (max-width: 320px) {
    html{
        font-size: 11px;
    }
}
@media 
only screen and (max-width: 576px)
            and (orientation: landscape){
    body{
        overflow: visible;
    }
}