@import url('https://fonts.googleapis.com/css2family=Nunito&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: #413F42 url(./assets/images/Rocks-colton_sturgeon-unsplash.jpg) no-repeat center center/cover;
    min-height: 100vh;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
}

#instructions{
    font-size: 1.5rem;
}

.circle{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #16003B;
    position: absolute;
    z-index: -1;
}

.outer-circle{
    background-image: conic-gradient(#3977a0 0deg, #205375 144deg, #d7e6f0 144deg, #afcde0 216deg, #316080 216deg, #224a64 360deg);
    height: 320px;
    width: 320px;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    position: absolute;
    z-index: -2;
}

.pointer-container{
    height: 370px;
    position: absolute;
    border-radius: 50%;
    background: #413F42;
    animation: rotate 8s infinite linear;
    /* transform-origin: center; */
}

.pointer{
    height: 20px;
    width: 20px;
    left: -10px;
    border-radius: 50%;
    background: #afcde0;
    position: absolute;
    z-index: 1;
}

@keyframes rotate {
    50% {transform: rotate(180deg);}

    100% {transform: rotate(360deg);}
}